@implements IDisposable
@using Humanizer
@inject BlazorDataModel Model

@{
    // This component is used to display application-specific settings on the Edit Department page.

    @*<div class="mb-2">
        <label for="app-editDepartmentGroup-MyProperty">
            <Language Tag="MyProperty" />
        </label>
        <input id="app-editDepartmentGroup-MyProperty" class="form-control"
                @bind="Value.MyProperty" 
                @bind:after="ValueHasChanged" />
    </div>*@
}

@code {
    /// <summary>
    /// The Tenant object bound with the @bind-Value directive.
    /// </summary>
    [Parameter] public DataObjects.DepartmentGroup Value { get; set; } = new DataObjects.DepartmentGroup();

    /// <summary>
    /// The internal method allowing for 2-way binding with the @bind-Value option instead of @bind.
    /// </summary>
    [Parameter] public EventCallback<DataObjects.DepartmentGroup> ValueChanged { get; set; }

    public void Dispose()
    { 
        Model.OnChange -= StateHasChanged;
    }

    protected override void OnInitialized()
    {
        Model.OnChange += StateHasChanged;
    }

    protected void ValueHasChanged()
    {
        ValueChanged.InvokeAsync(Value);
        StateHasChanged();
    }
}