@implements IDisposable
@using Humanizer
@inject BlazorDataModel Model

@{
    // This component is used to display application-specific items on the home page.
    
    @*<div class="mt-2 mb-2">
        Added by the Index.App page.
    </div>*@
}

@code {
    public void Dispose() { 
        Model.OnChange -= StateHasChanged;
    }

    protected override void OnInitialized()
    {
        Model.OnChange += StateHasChanged;
    }

    // protected override void OnAfterRender(bool firstRender)
    // {
    //     RenderComponent();
    // }

    // protected override void OnParametersSet()
    // {
    //     RenderComponent();
    // }

    // protected void RenderComponent()
    // {
    //     // Do any work here that needs to be done after the component is rendered or parameters are set.
    // }
}
