@implements IDisposable
@inject BlazorDataModel Model

<div>Custom Navigation Menu</div>

@code {
    // Set this to true to use this navigation menu instead of the default.
    [Parameter] public bool Enabled { get; set; } = false;

    [Parameter] public bool Loading { get; set; }

    public void Dispose() {
        Model.OnChange -= StateHasChanged;
    }

    protected override void OnInitialized()
    {
        Model.OnChange += StateHasChanged;
    }
}