@using CRM
@using CRM.Client
@inject BlazorDataModel Model
@implements IDisposable

<button type="button" class="btn btn-warning" @onclick="ButtonClicked">
    Dynamically Generated Button
</button>

@code {
    [Parameter]
    public EventCallback<string> OnInitializedCallback { get; set; }

    [Parameter]
    public string? PluginName { get; set; }

    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    public void Dispose() { }

    protected override void OnInitialized() {
        if (OnInitializedCallback.HasDelegate) {
            OnInitializedCallback.InvokeAsync(PluginName);
        }
    }

    protected async Task ButtonClicked()
    {
        await Helpers.ModalMessage("You clicked the button. The current value is '" + Value + "'", "Button Clicked");
    }

    protected void ValueUpdated() {
        if (ValueChanged.HasDelegate) {
            ValueChanged.InvokeAsync(Value);
        }
    }
}