@page "/Authorization/InvalidUser"
@page "/{TenantCode}/Authorization/InvalidUser"
@implements IDisposable
@using Blazored.LocalStorage
@inject IJSRuntime jsRuntime
@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject BlazorDataModel Model
@if (Model.View == _pageName) {
    <h1 class="page-title">
        <Language Tag="InvalidUser" IncludeIcon="true" />
    </h1>

    <button type="button" class="btn btn-primary" @onclick="Back">
        <Language Tag="BackToLogin" IncludeIcon="true" />
    </button>
}
@code {
    [Parameter] public string? TenantCode { get; set; }

    protected string _pageName = "invaliduser";

    public void Dispose() {
        Model.OnChange -= OnDataModelUpdated;
        Model.Subscribers_OnChange.Remove(_pageName);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender) {
            Model.TenantCodeFromUrl = TenantCode;
        }
    }

    protected override void OnInitialized()
    {
        if (!Model.Subscribers_OnChange.Contains(_pageName)){
            Model.Subscribers_OnChange.Add(_pageName);
            Model.OnChange += OnDataModelUpdated;
        }

        Model.View = _pageName;
    }

    protected void OnDataModelUpdated()
    {
        if (Model.View == _pageName) {
            StateHasChanged();
        }
    }

    protected void Back()
    {
        Helpers.NavigateTo("Login");
    }
}
