@implements IDisposable
@inject IJSRuntime jsRuntime
@inject BlazorDataModel Model
@inject Radzen.DialogService DialogService
<GeneratePassword 
    OnPasswordGenerated="GeneratedPassword"
    LanguageItems="_language"
    Class="@Class"
    Id="@Id"
    Length="@Length"
    RefreshButtonClass="btn btn-primary" 
    RefreshIcon="@Helpers.Icon("Refresh", true)"
    RequireUpperCase="RequireUpperCase"
    RequireLowerCase="RequireLowerCase"
    RequireNumbers="RequireNumbers"
    RequireSpecialCharacters="RequireSpecialCharacters" />

<div class="btn-group" role="group">
    <button type="button" class="btn btn-success" @onclick="PasswordAccepted">
        <Language Tag="Ok" IncludeIcon="true" />
    </button>
    <button type="button" class="btn btn-dark" @onclick="Cancel">
        <Language Tag="Cancel" IncludeIcon="true" />
    </button>
</div>
@code {
    [Parameter] public Action<string>? OnPasswordAccepted { get; set; }
    [Parameter] public Delegate? OnPasswordGenerated { get; set; }
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string? Id { get; set; }
    [Parameter] public int? Length { get; set; }
    [Parameter] public bool? RequireUpperCase { get; set; }
    [Parameter] public bool? RequireLowerCase { get; set; }
    [Parameter] public bool? RequireNumbers { get; set; }
    [Parameter] public bool? RequireSpecialCharacters { get; set; }

    protected string _password = "";

    public void Dispose() { }

    protected FreeBlazor.GeneratePassword.Language _language = new GeneratePassword.Language {
        PasswordLength = Helpers.Text("GeneratePasswordLength"),
        Refresh = Helpers.Text("Refresh"),
        RequireLowercase = Helpers.Text("GeneratePasswordRequireLowercase"),
        RequireNumbers = Helpers.Text("GeneratePasswordRequireNumbers"),
        RequireSpecialCharacters = Helpers.Text("GeneratePasswordRequireSpecialCharacters"),
        RequireUppercase = Helpers.Text("GeneratePasswordRequireUppercase"),
    };

    protected void Cancel()
    {
        DialogService.Close();
    }

    protected async Task CopyPasswordToClipboard()
    {
        await Helpers.CopyToClipboard(_password);
    }

    protected void GeneratedPassword(string password)
    {
        _password = password;
    }

    protected async Task PasswordAccepted()
    {
        await CopyPasswordToClipboard();

        DialogService.Close();
        if (OnPasswordAccepted != null) {
            OnPasswordAccepted.DynamicInvoke(_password);
        }
    }
}
