@implements IDisposable

<div>@((MarkupString)_message)</div>

@code {
    [Parameter] public string? Message { get; set; }

    protected string _message = String.Empty;

    public void Dispose()
    {
    }

    protected override void OnInitialized()
    {
        _message = !String.IsNullOrWhiteSpace(Message) ? Message : "";
    }
}